<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function getMaxSalary()
        {
            $.get("/hr/emp/maxsal",null,
                function(result) {
                     $("#maxsal").text(result)
                }
            );
        }
    </script>

</head>
<body>
<button onclick="getMaxSalary()">Get Max Salary</button>
<h2 id="maxsal"></h2>
</body>
</html>